<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 서버 API 호출 (release 빌드에도 필요하다) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 제보 위치 첨부 (geolocator) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 사진 촬영/선택은 image_picker가 시스템 카메라·사진 선택기를 띄우므로
         CAMERA, READ_MEDIA_IMAGES 권한 선언이 필요하지 않다. -->

    <application
        android:label="곁애"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- 앱 링크 `gyeotae://missing/{id}` → 실종자 상세.
                 adb 시연: adb shell am start -a android.intent.action.VIEW -d "gyeotae://missing/m_xxx" -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="gyeotae"/>
            </intent-filter>
            <!-- 카카오톡 공유 메시지의 [곁애에서 보기] → `kakao{앱 키}://kakaolink?missing_id=…`.
                 로그인 스킴과 키는 같고 host만 다르다. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="${kakaoAuthScheme}"
                    android:host="kakaolink"/>
            </intent-filter>
            <!-- Flutter 기본 딥링크를 끈다. 켜 두면 라우터가 링크로 곧장 가면서
                 스플래시를 건너뛰고, 앱이 받은 링크로 한 번 더 열어 상세가 두 겹
                 쌓인다. 링크는 app_links로 받아 GyeotaeApp이 연다. -->
            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="false"/>
        </activity>
        <!-- 카카오 로그인이 끝나고 앱으로 돌아오는 문(S6).

             카카오톡이나 카카오계정 로그인 화면이 `kakao{네이티브 앱 키}://oauth`
             로 돌려보내는데, 그 스킴을 받을 액티비티를 앱이 열어줘야 한다.
             SDK가 액티비티는 들고 있지만 intent-filter는 앱 몫이다.

             스킴의 키 부분은 build.gradle.kts가 env/dev.json에서 읽어 끼운다. -->
        <activity
            android:name="com.kakao.sdk.flutter.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="${kakaoAuthScheme}"
                    android:host="oauth"/>
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
